*{
    margin: 0px;
    padding: 0px;
}
/*------heading style-----*/
.header-section{
    background-color: rgb(39, 37, 37);
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 100px;
    margin: 0% auto;
    padding: 20px 30px;
}
.logo{
    color: green;
}
.logo:hover{
    color:orange;
    transition: 0.3s;
}

/*-----menu style-------*/
.menu-items{
    display: flex;
}
nav ul{
    list-style-type: none;

}
nav ul li{
    padding: 20px 30px;
}
nav ul li a{
    text-decoration: none;
    padding: 20 30px;
    color: green;
}
nav ul li a:hover{
    color:orange;
    font-weight: bold;
    transition: 0.3s;
}
/*-----Banner-Section-----*/
.banner-section{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(31, 78, 180));
}
.introduction-section{
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    width: 1180px;
    height: 84vh;
    
}
.intro-text{
    text-align: left;
    margin-top: 250px;
}
.intro-text h1{
    color: green;
    font-size: 50px;
}
.intro-text h2{
    font-size: 40px;
    color: green;
    font-weight: bold;
}
.btn{
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: left
    font-size: 25px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius:5px;
}
.btn:hover{
    background-color: orange;
    color: green;
    transition: 0.3s;

}
/*-----My Educational Qualification Section-----*/
.my-education{

    padding-top:30px;
    padding-bottom: 30px;
}
.education-info{
    color: green;
}
.box{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    padding: 50px;
    box-sizing:border-box;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 30px;
}
.section-heading{
    text-align: center;
    color: green;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 30px;
}
.educational-platforms{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: 0% auto;
}
/*-----Job Experiences Section-------*/
.my-job-experience{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid black ;
}
.experiences{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1180px;
}
.experience-info{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    padding: 50px;
    box-sizing:border-box;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 30px;
}
.experience-info h2{
    color: green;
}
/*---My Service Section---*/
.my-services{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid black;
}
.service-items{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1180px;
}
.service-items .skill-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}
/*---My Destination Section----*/
.my-destination{
    background-image: url("images/motivational.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.positive-think{
    color: white;
}
.destination{
    text-align: center;
    padding: 30px;
}
/*-----Contact Section----*/
.contact-me{
    background-image: linear-gradient(to right, #1a998400, rgb(48, 104, 56));
}
.contact-form-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
}
.contact-description{
    width: 400px;
}
.input-items{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
}
.btn-primary{
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center!important;
    font-size: 20px;
    margin: 4px 2px;
    transition: 0.3s;
    width: 100%;
}
.btn-primary:hover{
    color: orange;
    background-color: black;
    transition: 0.3s;
}
/*----Footer info-----*/
.footer-info{
    text-align: center;
    background-color: rgb(36, 35, 35);
    color: white;
    height: 50px;
}
.footer-info p{
    padding: 15px;
    color: orange;
}